:root {
  --vermelho: #E50914;
  --preta: #141414;
  --cinza: #AAA;
  --branco: #FFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--preta);
  font-family: 'Times New Roman', Times, serif;
  font-size: 100%;
  color: var(--branco);
}

/* Header */

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  font-family: 'Arial Black';
  font-size: 2.5rem;
  color: var(--vermelho);
}

header nav a {
  text-decoration: none;
  color: var(--cinza);
  margin-right: .625rem;
}

header nav a:hover {
  color: var(--branco);
}

/* Filme Principal */

.filme-principal {
  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)100%), url('../img/capa-house.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
}

.filme-principal .titulo {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 2.5rem;
  margin-top: 15%;
}

.filme-principal .descricao {
  margin: .625rem 0 2.5rem 0;
}

.filme-principal .botoes .botao {
  background-color: rgba(0, 0, 0, .5);
  border: none;
  color: var(--branco);
  padding: .9375rem 1.875rem;
  margin-right: .9375rem;
  font-size: .75rem;
  cursor: pointer;
  transition: .4s ease all;
}

.filme-principal .botoes .botao:hover {
  background-color: var(--branco);
  color: var(--preta);
}

.filme-principal .botoes .botao i {
  margin-right: .5rem;
}

/* Carrosel Filmes */

.box-filme {
  height: 100%;
  width: 100%;
  display: block;
}